{% if zdi.image_manifest_files %}
Image Information
=================

{% for item in zdi.image_manifest_files %}
{{ item.filename }}
{{ item.underline }}
{{ item.content }}
{% endfor %}

{% endif %}
{% if 'uname' in zdi %}
Host & kernel
=============
{{ zdi.uname }}

{% endif %}
{% if 'network_interfaces' in znetinfo %}
Network interface addresses
===========================
{{ znetinfo.network_interfaces }}

{% endif %}
{% if 'network_routing_v4' in znetinfo %}
Network routing tables v4
=========================
{{ znetinfo.network_routing_v4 }}

{% endif %}
{% if 'network_routing_v6' in znetinfo %}
Network routing tables v6
=========================
{{ znetinfo.network_routing_v6 }}

{% endif %}
{% if 'network_neighbors' in znetinfo %}
Network neighbors
=================
{{ znetinfo.network_neighbors }}

{% endif %}
{% if 'traceroute_v4' in znetinfo %}
Route to Known Host v4
======================
Known Host: {{ zuul_site_traceroute_host }}
{{ znetinfo.traceroute_v4 }}

{% endif %}
{% if 'traceroute_v6' in znetinfo %}
Route to Known Host v6
======================
Known Host: {{ zuul_site_traceroute_host }}
{{ znetinfo.traceroute_v6 }}
{% endif %}
