# The order of packages is significant, because pip processes them in the order
# of appearance. Changing the order has an impact on the overall integration
# process, which may cause wedges in the gate later.
flake8
zuul

# We need to pin the ansible version directly here; per the
# deprecation policy it should trail the version used by Zuul by 4
# weeks to give people time to update before these roles start
# depending on new features.  Also note we can't just include zuul
# here to pull in ansible anyway; pip doesn't actually have a
# dependency solver and the uncapped ansible requirement from
# ansible-lint pull in the latest version.
ansible>=2.5.1,<2.6 # https://review.openstack.org/567007
# We need to pin ansible-lint to before 4.0 which blows up all over the place
ansible-lint<4
bashate>=0.2
zuul-sphinx>=0.1.1
stestr>=1.0.0 # Apache-2.0
# For upload-logs-swift:
openstacksdk>=0.17.1
requests
requestsexceptions
bs4
