init.author.name={{ npm_info.author_name }}
init.author.email={{ npm_info.author_email }}
init.author.url={{ npm_info.author_url }}
tag-version-prefix=
sign-git-tag=true

//registry.npmjs.org/:username={{ npm_info.username }}
//registry.npmjs.org/:_password={{ npm_info.password }}

//registry.npmjs.org/:email={{ npm_info.author_email }}
