init.author.name={{ npm_credentials.author_name }}
init.author.email={{ npm_credentials.author_email }}
init.author.url={{ npm_credentials.author_url }}
tag-version-prefix=
sign-git-tag=true

//registry.npmjs.org/:username={{ npm_credentials.username }}
//registry.npmjs.org/:_password={{ npm_credentials.password }}

//registry.npmjs.org/:email={{ npm_credentials.author_email }}
