# Vendored from rdo-release: https://github.com/rdo-infra/rdo-release
[centos-openstack-queens]
name=CentOS OpenStack Queens Repository
{% if zuul_site_mirror_fqdn is defined %}
baseurl=http://{{ zuul_site_mirror_fqdn }}/centos/7/cloud/$basearch/openstack-queens/
{% else %}
baseurl=http://mirror.centos.org/centos/7/cloud/$basearch/openstack-queens/
{% endif %}
gpgcheck=1
enabled=1
gpgkey=file:///tmp/RPM-GPG-KEY-CentOS-SIG-Cloud
